<%- include("header") %>
<div class="bbody font">
    <h1 class="font1">All About Blog</h1>
    <%= post1.substring(0,1000) %>
    <h1 class="font1">What makes the best blogging platform?</h1>
    <%= post2.substring(0,1000) %>
    <% array.forEach(function(element){ %>
        <h1 class="font1"><%= element.title; %></h1>
        <%= element.content.substring(0,400); %> 
        <a href="/post/<%= element.title %>">Read More</a> 
    <%}); %>
</div>

    <%- include("footer") %>